/*
    Theme Colors:
    #C67B0f - brownish gold
    #FFAC35 - orangey orange
    #755A8A - light purple
    #BFDA85 - lime mint something

    
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/

body {
    padding-top: 80px;
    background-image: url(/assets/images/SVG/Asset\ 1.svg);
    color: #343434;
    padding-bottom: 80px;
}

/* --------------------------------Header----------------------------- */

.myName {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    color: #fffff0;
    text-shadow: 1px 2.5px #996600;
    background-color: #CC5400;
    text-align: center;
    height: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.navbar {
    color: #755A8A;
}

.fixed-top {
    background-color: #BFDA85;
    height: 10px;
    outline: 2px solid #755A8A;
}

.nav-link {
    color: #fffff0;
}

.nav-link.disabled {
    color: #CC5400;
}

.nav-link:hover,
.download:hover {
    color: #19FF90;
}

.download {
    color: #777777;
}

hr {
    background-color: #FFAC35;
}

/* .redirect {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
} */

/* --------------------------------Body------------------------------- */

.titleBox {
    background-color: #FFAC35
}

.nameBox {
    background-color: #FFAC35
}

.descriptBox {
    background-color: #FFAC35
}

.icon {
    height: 150px;
    width: 150px;
}

.bio {
    float: left;
}

.boxesBox {
    margin-left: 0px;
    margin-right: 0px;
}

.thumbBox {
    position: relative;
    display: inherit;
    padding-left: 15px;
    padding-bottom: 30px;
    transition: transform .2s;
}

.thumbBox:hover {
    transform: scale(1.1);
}

.thumbnail {
    height: 200px;
    width: 200px;
    outline: 2px solid #CC5400;
}

.portTitle {
    position: absolute;
    float: right    ;
    width: 200px;
    bottom: 40px;
    background: #CC5400;
    color: #fffff0;
    opacity: .85;
}

.mainTitle {
    margin: 15px 0 0 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.sectionTitle {
    margin: 0 0 15px 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
}

.resume {
    background-color: #CC5400;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
}

button {
    margin-bottom: 15px;
}

/* ---------------------------------Footer---------------------------- */

.footer-margin {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #996600;
    background-color: #fffff0;
}

  /* --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; */

@media (max-width: 1200px) {
    .myName {
        height: 90px;
    }

    .fixed-top {
        height: 100px;    
    }

    body {
        padding-top: 120px;
    }
}

@media (max-width: 992px) {
    #starTrek {
        height: 200px;
        width: 200px;
    }
    
}
@media (max-width: 768px) {
    .myName {
        height: 45px;
    }

    .fixed-top {
        height: 100px;    
    }

    #starTrek {
        height: 500px;
        width: 300px;
    }
    
    body {
        padding-top: 120px;
    }

    .mainTitle {
        font-size: 24px;
    }
}